<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    <!--<a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
  </nav>

  <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/overview">Overview</a>
      <ul>
        <li>
            <a href="/overview">What is Lightstreams?</a>
        </li>
        <li>
            <a href="/overview">Why build on Lightstreams?</a>
        </li>
        <li>
            <a href="/overview">Why use DApps built on Lightstreams?</a>
        </li>
        <li>
            <a href="/overview">How does Lightreams work?</a>
        </li>
        <li>
            <a href="/overview">What does Lightstreams enable?</a>
        </li>
        <li>
            <a href="/overview">Who needs Lightstreams?</a>
        </li>
      </ul>
      
  </nav>

  <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/how_does_it_work">How does it work?</a>
      <ul>
        <li>
            <a href="/how_does_it_work">What does this enable?</a>
        </li>
        <li>
            <a href="/how_does_it_work">What is an InterPlanetary File System (IPFS)?</a>
        </li>
        <li>
            <a href="/how_does_it_work">What is Ethereum?</a>
        </li>
      </ul>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
